.LeftBar {
  position: fixed;
  z-index: 99;
  width: 120px;
  height: 500px;
  left: 0;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  
  --animate-time: 4s;
  
  background-image: linear-gradient(
    30deg, 
    rgb(var(--pri-color-rgb)),
    20%,
    rgba(255, 255, 255, 1),
    70%,
    rgb(var(--ter-color-rgb))
  );
  background-size: 1000%;
  background-position: top;
  animation: gradient var(--animate-time) cubic-bezier(.71,.02,.31,.99) infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.LeftBar_name {
  font-size: 2rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  top: -30px;
  user-select: none;
  font-weight: 500;
  transition: opacity 300ms;
}

.LeftBar_shape {
  position: relative;
  width: 14px; height: 14px;
  background-color: transparent;
  border: 2px solid black;
  transform: rotateZ(45deg);
  animation: shape var(--animate-time) cubic-bezier(.71,.02,.31,.99) infinite alternate;
  transition: opacity 300ms;
}

@keyframes shape {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(calc(45deg + 360deg *3));
  }
}

.LeftBar_topArrow {
  position: absolute;
  opacity: 0;
  fill: black;
  width: 50px;
  transform: rotateZ(90deg) translateX(50px);
  stroke-width: 2%;
  transition: opacity 300ms, transform 300ms;
}

.LeftBar___hover {
  opacity: 1;
  transform: rotateZ(90deg) translateX(0px);
}

.LeftBar_btn {
  position: absolute;
  bottom: 5%;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  font-weight: 600;
  transition: transform 300ms;
}

.LeftBar_btn::after {
  content: '';
  position: absolute;
  top: 110%; left: 0%;
  width: 100%; height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}

