.SquareSpinner_squareWrapper {
  position: fixed;
}

.SquareSpinner_bigSquare {
  position: relative;
  z-index: -1;
  border: calc(10px * var(--border-scale)) solid;
  border-image: linear-gradient(rgba(var(--quar-color-rgb), 0.8), rgba(0,0,0,0.1)) 30;
  width: 100%; height: 100%;
  transform: rotateZ(var(--tilt));
  display: grid;
  place-items: center;
  animation: spin-square var(--time) linear infinite;
}

.SquareSpinner_innerSquare {
  position: absolute;
  border: calc(10px * var(--border-scale) 0.65) solid;
  border-image: linear-gradient(rgba(var(--ter-color-rgb), 0.6), rgba(0,0,0,0.2)) 30;
  width: 100%; height: 100%;
  transform: rotateZ(var(--tilt));
  animation: spin-square var(--time) linear infinite;
}

@keyframes spin-square {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(calc(30deg + 360deg * var(--direction)));
  }
}

@keyframes border-color {
  0% {
    border-color: black;
  }
  70% {
    border-color: black;
  }
  100% {
    border-color: white;
  }
}