.Waterdrop {
  position: relative;
  overflow: hidden;
  width: 100%; height: 500px;  
  border-radius: 15px;
  display: flex;
  justify-content: center; align-items: center;
  
  --animation-time: 0.8s;
}

.Waterdrop_body {
  pointer-events: none;
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%);
  width: min(100%, 1200px); height: 100%;
  border-radius: 15px;
  z-index: 9;
  opacity: 0;
  background-image: linear-gradient(110deg, var(--dark-color-hex), 20%, var(--dark-strong-hex));

  transition: opacity 300ms calc(var(--animation-time) * 1.50);
}

.Waterdrop_body__opac {
  opacity: 1;
}

.Waterdrop_svg {
  position: absolute;
}

.Waterdrop_circleWrapper {
  z-index: 1;
  position: relative;
  width: min(100%, 1200px); height: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  pointer-events: none;
}

.Waterdrop_circle {
  position: relative;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  width: 30px; height: 30px;
  box-shadow: 
    inset 5px 5px 10px rgba(var(--pri-color-rgb), 0.15),
    inset -5px -5px 8px rgba(var(--pri-color-rgb), 0.7),
    5px 5px 5px rgba(var(--pri-color-rgb), 1);
  transition: transform 300ms;
  place-self: center;
  pointer-events: auto;
}

.Waterdrop_circleWrapper___bounce {
  animation: drop-click-bounce var(--animation-time) forwards;
}

.Waterdrop_circle___expand {
  animation: drop-click-expand calc(var(--animation-time) * 0.7) 
    cubic-bezier(.53,.07,.17,.97)
    calc(var(--animation-time) * 0.85) forwards;
  cursor: auto;
}

@keyframes drop-click-expand {
  0% { 
    box-shadow: 
      inset 5px 5px 10px rgba(var(--pri-color-rgb), 0.15),
      inset -5px -5px 8px rgba(var(--pri-color-rgb), 0.7);
  }
  30% {
  }
  100% {
    width: 150px; height: 150px;
    transform: scale(15);
    background-color: var(--dark-color-hex);
  }
}

@keyframes drop-click-bounce {
  0% {
    animation-timing-function: cubic-bezier(.77,0,.91,.74);
  }
  35% {
    transform: translateY(50px);
    animation-timing-function: cubic-bezier(.19,.49,.44,.99);
  }
  80% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
  }
}



/* ### Click Text ### */

.Waterdrop_text {
  position: absolute;
  font-size: 5rem;
  text-shadow: 5px 5px 1px rgba(255,255,255, 0.45);
  filter: blur(100px);
  transition: filter 300ms, opacity 200ms;
}

.Waterdrop_text:hover, .Waterdrop_text___unblur {
  filter: blur(0px);   
}

.Waterdrop_text___fadeOut {
  opacity: 0;
}


/* ### Loading Text Path Animation ### */

.Waterdrop_loadingText {
  position: absolute;
  font-size: 2.5rem;
}

.char {
  offset-path: path('M 0 0 L 204 105');
  offset-path: path('M 0 0 C 85.5 -25.2 102 50 8 88 C -95 118 -148 30 -109 -41 C -80 -91 15 -88 107 -81');
  /* offset-path: path('M 6 4 L 690 76 C 563 711 519 -258 204 353'); */
  offset-distance: calc(var(--char-index) * var(--char-width));
	position: absolute;
	animation: loop 3500ms linear infinite alternate calc(var(--char-index) * 0ms);
}

@keyframes loop {
	50% {
		/* offset-distance: calc((var(--char-index) * 1.5rem) + 00px); */
	}
  
	100% {
		offset-distance: calc(100% 
      - (var(--num-chars) - var(--char-index)-1) * var(--char-width));
	}
}