.Waterdrop {
  position: relative;
  overflow: hidden;
  width: 100%; height: 500px;  
  border-radius: 15px;
  display: flex;
  justify-content: center; align-items: center;
  
  --drop-animation-time: 0.8s;
  --drop-animation-delay: 1.4s;
}

.Waterdrop_body {
  pointer-events: none;
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%);
  width: min(100%, 1300px); height: 100%;
  border-radius: 15px;
  z-index: 99;
  opacity: 0;
  background-image: linear-gradient(110deg, var(--dark-color-hex), 20%, var(--dark-strong-hex));
  
  transition: opacity 300ms calc(var(--drop-animation-time) * 1.50 + var(--drop-animation-delay) * 0.65);
}

.Waterdrop_body__opac {
  opacity: 1;
  animation: become-pointer-active 10ms forwards;
}
@keyframes become-pointer-active {
  to { pointer-events: all;}
}

.Waterdrop_svg {
  position: absolute;
}

.Waterdrop_circleWrapper {
  z-index: 1;
  position: relative;
  width: min(100%, 1300px); height: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  pointer-events: none;
}

.Waterdrop_circle {
  position: relative;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  width: 40px; height: 40px;
  box-shadow: 
    inset 5px 5px 10px rgba(var(--pri-color-rgb), 0.15),
    inset -5px -5px 8px rgba(var(--pri-color-rgb), 0.7),
    5px 5px 5px rgba(var(--pri-color-rgb), 1);
  transition: transform 300ms;
  place-self: center;
  pointer-events: auto;
}

.Waterdrop_circleWrapper___bounce {
  animation: drop-click-bounce var(--drop-animation-time) 
    calc(var(--drop-animation-delay) * 0.65) forwards;
}

.Waterdrop_circle___expand {
  animation: drop-click-expand calc(var(--drop-animation-time) * 0.7) 
    cubic-bezier(.53,.07,.17,.97)
    calc(var(--drop-animation-time) * 0.8 + var(--drop-animation-delay) * 0.65) 
    forwards,
    circle-bounce-scale var(--drop-animation-time)
    calc(var(--drop-animation-delay) * 0.65) 
    forwards;
  cursor: auto;
}

@keyframes drop-click-expand {
  0% { 
    box-shadow: 
      inset 5px 5px 10px rgba(var(--pri-color-rgb), 0.15),
      inset -5px -5px 8px rgba(var(--pri-color-rgb), 0.7);
  }
  30% {
  }
  100% {
    width: 150px; height: 150px;
    transform: scale(15);
    background-color: var(--dark-color-hex);
  }
}

@keyframes drop-click-bounce {
  0% {
    animation-timing-function: cubic-bezier(.77,0,.91,.74);
  }
  35% {
    transform: translateY(80px);
    animation-timing-function: cubic-bezier(.19,.49,.44,.99);
  }
  80% {
    transform: translateY(-80px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes circle-bounce-scale {
  0% {
    animation-timing-function: cubic-bezier(.77,0,.91,.74);
  }
  35% {
   transform: scaleX(1.5); 
   animation-timing-function: cubic-bezier(.19,.49,.44,.99);
  }
  80% {
    transform: scaleY(1.5);
  }
  100% {
  }
}



/* ### Click Text ### */

.Waterdrop_text {
  position: absolute;
  font-size: 6rem;
  text-shadow: 5px 5px 1px rgba(255,255,255, 0.45);
  filter: blur(100px);
  transition: filter 300ms, opacity 200ms;
}

.Waterdrop_text:hover, .Waterdrop_text___unblur {
  filter: blur(0px);   
}

.Waterdrop_text___fadeOut {
  opacity: 0;
}


/* ### Loading Text Path Animation ### */

.Waterdrop_loadingText {
  position: absolute;
  font-size: 2.7rem;
}

.char {
  --text-animation-time: var(--drop-animation-delay);
  
  text-shadow: 5px 5px 1px rgba(255,255,255, 0.25);
  opacity: 0;
  
  offset-path: path(var(--path));
  offset-distance: calc(var(--char-index) * var(--char-width) 
    - var(--char-width) * var(--num-chars) + 150px);
	position: absolute;
  pointer-events: none;
}

.char-animation {
  animation: loop var(--text-animation-time) ease-in calc(((var(--num-chars) - var(--char-index)-1)) * 20ms) forwards,
    spin-char calc(var(--text-animation-time) * 0.5) ease-in calc(((var(--num-chars) - var(--char-index)-1)) * 50ms) forwards,
    font-appear var(--text-animation-time) ease-in forwards;
}

@keyframes loop {
	50% {
		offset-distance: calc(92% 
      - (var(--num-chars) - var(--char-index)-1) * var(--char-width));
	}
  100% {
    offset-distance: calc(100% 
      - (var(--num-chars) - var(--char-index)-1) * var(--char-width));
  }
}

@keyframes spin-char {
  0% {
  }
  20% {
  }
  50% {
    transform: rotateX(0deg);
  }
  72% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes font-appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }  
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}