.WaterdropBody {
  position: absolute;
  z-index: 99;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; height: 80%;
  transition: transform 200ms;
  cursor: pointer;
}

.WaterdropBody_wrapper {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

@media (max-width: 1450px) {
  .WaterdropBody_wrapper {
    flex-direction: column;
    gap: 50px;
  }
}

.WaterdropBody:hover {
  transform: translate(-50%, -50%) scale(1.05) ;
}

.WaterdropBody:hover .WaterdropBody_wrapper {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-3deg);
  }
  66% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.WaterdropBody_img {
  width: 640px;
  object-fit: cover;
  border-radius: 15px;
  background-color: white;
  mix-blend-mode: multiply;
  position: relative;
}

.WaterdropBody_img::after {
  content: '';
  position: absolute;
  width: 100%; height: 100%;
  z-index: 1;
  background-color: black;
  background-image: linear-gradient(transparent, rgba(0,0,0,1));
}

.WaterdropBody_textBlock {
  /* width: 430px; */
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1530px) {
  .WaterdropBody_textBlock {
    margin-left: 40px;
  }
}

.WaterdropBody_titleWord {
  position: relative;
  color: transparent;
  background-image: linear-gradient(135deg, white, rgba(var(--ter-color-rgb), 1));
  background-size: 400%;
  background-position: 25% 95%;
  background-clip: text;
  font-size: 3.0rem;
  font-weight: 600;
  margin-right: 20px;
  white-space: nowrap; /* ? why does this fix */
}

.WaterdropBody_titleWord::after {
  content: attr(title);
  position: absolute;
  color: black;
  top: 7px; left: 7px;
  z-index: -1;
}

.WaterdropBody_text {
  color: white;
  font-size: 1.35rem;
}