.leftbar {
  position: fixed;
  /* TODO: linear gradient */
  background-color: rgba(197, 104, 36, 0.5);
  width: 120px;
  height: 500px;
  left: 0;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftbar__name {
  font-size: 2rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  top: -20px;
  user-select: none;
}

.leftbar__button {
  position: absolute;
  bottom: 5%;
  cursor: pointer;
  user-select: none;
}
