.App {
  /* background-color: rgba(var(--pri-color-rgb), 1); */
  background-image: linear-gradient(
    0deg,
    rgb(var(--pri-color-rgb)),
    rgb(var(--sec-color-rgb))
  );
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}
